[workspace]
members = [
    "qcp",
]
resolver = "2"
package.version = "0.1.0"
package.edition = "2021"
package.authors = ["Ross Younger <crazyscot@gmail.com>"]
package.license = "AGPL-3.0-or-later"

[workspace.dependencies]
anyhow = "1.0.88"
clap = "4.5.17"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[workspace.lints.rust]
dead_code = "warn"
elided_lifetimes_in_paths = "deny"
meta_variable_misuse = "deny"
missing_abi = "deny"
missing_copy_implementations = "deny"
missing_debug_implementations = "deny"
missing_docs = "warn"
non_ascii_idents = "deny"
single_use_lifetimes = "deny"
trivial_casts = "deny"
trivial_numeric_casts = "deny"
unsafe_code = "deny"
unsafe_op_in_unsafe_fn = "deny"
unreachable_pub = "deny"
# unused_crate_dependencies = "deny" # false positives
unused_extern_crates = "deny"
unused_lifetimes = "deny"
unused_results = "deny"
variant_size_differences = "deny"

[workspace.lints.clippy]
pedantic = { level = "deny", priority = -1 }
missing_errors_doc = "allow"
